*{
    margin: 0% ,auto;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #78c48b;
    overflow: hidden;
}
.container{
    display: block;
    margin: 5%;
    height: 80vh;
    width: auto;
    background-color:#fff;
    border: 2px solid #000;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #78c48b;
    height: 200px;
    border-bottom:2px solid #000; 
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #fff;
    height: 40px;
    width: auto;
}